{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<div class="introduction">
    <h1 class=title>Numeric Analysis</h1>
    <div class="description">
        Esta es una pagina web donde podras resolver algunos problemas de analisis numerico a traves de algunos metodos vistos en clase.
        Si tienes alguna duda ve a la sección de "ayuda". 
        Pagina de Curso de Análisis numérico EAFIT, 2022 por:
        <br>
        <p>Santiago Ospina Idrobo <br> Isaac</p>
    </div>
</div>
{% endblock %}