{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<div class="introduction">
    <h1 class=title>Numeric Analysis</h1>
    <div class="description">
        This is a web page where you will be able to solve some numerical analysis problems through some methods seen in class. If you have any questions go to the "help" section. made by:
        <br>
        <p>Santiago Ospina Idrobo <br> Isaac</p>
    </div>
</div>
{% endblock %}